input[type=text], input[type=password] {
    font-size : 100%;
}

#login_form_fields input {
    background-size : 17px;
    background-position: 3px 0px;
}


#login_container {
    min-width  : 0;
    min-height : 0;
}

#login_form {
    min-width  : 0;
    min-height : 0;
    width : 90%;
    height : 92%;
}


#login_form_user img {
    width:40%;
}
#circle_container {
    display : none;
}

#login_footer_container {
    display : none;
}

